body {
    background-color: rgb(197, 197, 230);
}
body .message {
    color: white;
    cursor: pointer;
    background-color: blue;
    border:none;
    border-radius: 6px;
    padding: 2.1%;
    text-align: left;
}
body h1 {
    text-align: left;
}
header {
    text-align: center;
}
body a {
    text-align: left;
    position: relative;
}
body a .logo {
    background-color: #f06292;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}